 /* ====== RESET SIMPLE CSS PAGE ====== */
 *, *::before, *::after {
    box-sizing: border-box;
 }
 * {
    padding: 0;
    margin: 0;
    font-size: 100%; /* Pois usaremos unidades relativas para representar as fontes o (rem), ele utiliza o
    contexto definido pelo body que é o nosso root. */
    font-family: 'Open Sans', sans-serif;
 }
ul {list-style: none;}
a {text-decoration: none; cursor: pointer; opacity: 0.9;}
a:hover {opacity: 1;}

/* ====== HEADER HOTEL ===== */
header {
   display: flex;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   justify-content: space-between;
   align-items: center;
   padding: 20px 50px;
   background-color: #fff;
}

header img {width: 280px; margin-bottom: 15px;}

nav ul {display: flex;}
header nav ul li a {color: #191c03;}
header li {margin: 0 15px;}
header li:first-child {margin-left: 0;}
header li:last-child {margin-right: 0;}

/* Media Querie */
@media (max-width: 43.75em) {
   /* Regra: Quando chegar de 0 até 700px fique em Coluna(column). Depois de 701px em diante fique em Linha(row)*/
   header {flex-direction: column;}
   header img {margin-bottom: 15px;}
}

/* ===== HERO ===== */
/* Este efeito consiste em uma imagem full screen no top e dentro dela pode conter textos, botões etc... */
.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url('../img/hero.jpg');
   background-size: cover;
   min-height: 100vh;
   color: #fff;
   text-align: center;
}

.hero hgroup > h1 {font-size: 3rem; margin-bottom: 15px;}
.hero hgroup > h3 {font-size: 2rem; margin-bottom: 15px;}

.hero .btn {
   background-color: #fff;
   border-radius: 4px;
   color: #191c03;
   padding: 20px 50px;
   text-transform: uppercase; 
}

/* Media Queries */
@media (max-width: 43.75em) {
   /* De 0 a 700px a Fonte reduz. */
   .hero hgroup > h1 {font-size: 2.5em;}
   .hero hgroup > h3 {font-size: 1.5em;}
}

/*==== Sessão Galeria de Imagens Sobre o Hotel ==== */
.conheca-o-hotel {
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   padding: 100px 50px;
}

.conheca-o-hotel h3 {
   font-size: 2rem; 
   margin-bottom: 35px; 
   color: #191c03; 
   text-align: center;
}

.conheca-o-hotel p {
   max-width: 800px; 
   margin-bottom: 35px; 
   color: #191c03; 
   text-align: center;
}
.conheca-o-hotel hr {
   width: 200px; 
   height: 2px;
   background-color: #191c03;
   margin-bottom: 70px;
   border: none;
}   

.conheca-o-hotel .grid {display: flex; flex-wrap: wrap; width: 100%;}

.conheca-o-hotel .grid li {
   height: 350px;
   padding: 20px;
   border-radius: 4px; 
   background-clip: content-box;
   background-size: cover;
   background-position: center;
}

.conheca-o-hotel .grid li.small {flex-basis: 40%;}
.conheca-o-hotel .grid li.large {flex-basis: 60%;}

/* Medi Querie */
@media (max-width: 43.75em) {
   /* De 0 a 700px as imagens ocuparão 1000% */
   .conheca-o-hotel .grid li.small, 
   .conheca-o-hotel .grid li.large {
      flex-basis: 100%;
   }
}

/* ====== CARACTERÍSTICAS DO HOTÉL ====== */
.caracteristicas {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 100px 50px;
   background-color: #191c03;
}

.caracteristicas h3 {
   font-size: 2rem;
   margin-bottom: 35px;
   color: #fff;
   text-align: center;
}

.caracteristicas p {
   max-width: 800px;
   margin-bottom: 35px;
   color: #fff;
   text-align: center;
}

.caracteristicas hr {
   width: 200px;
   height: 2px;
   border: none;
   background-color: #fff;
   margin-bottom: 70px;
}

.caracteristicas .grid {width: 100%; display: flex;} 
.caracteristicas .grid li {padding: 0 30px; text-align: center;}
.caracteristicas .grid li i {color: #c3c63b; font-size: 3.1em; margin-bottom: 30px;}
.caracteristicas .grid li h4 {font-size: 1.5rem; color: #c3c63b; margin-bottom: 15px;}
.caracteristicas .grid li p  {color: #fff;}

/* Medi Querie */
@media (max-width: 43.75em) {
   /* De 0 a 700px as Características ficarão em Coluna no Mobile */
   .caracteristicas .grid {
       flex-direction: column;
   }
}

/* === SESSÃO NEWSLETTER === */
.newsletter {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 100px 50px;
   background-color: rgba(235, 227, 227, .527); 
}

.newsletter h3 {
   font-size: 2rem;
   margin-bottom: 35px;
   color: #c3c63b;
   text-align: center;
}

.newsletter p {
   max-width: 500px;
   margin-bottom: 35px;
   color: #c3c63b;
   text-align: center;
}

.newsletter hr {
   width: 200px;
   height: 2px;
   border: none;
   background-color: #c3c63b;
   margin-bottom: 50px;
}

.newsletter form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 80%;
   max-width: 800px;
}

.newsletter input {
   padding: 15px;
   border: 1px solid #c3c63b;
   border-radius: 4px;
   margin-right: 8px;
   flex-grow: 1;
}

.newsletter button {
   padding: 15px;
   background-color: #c3c63b;
   color: #fff;
   text-transform: uppercase;
   border: none;
   border-radius: 4px;
   cursor: pointer; 
}

/* Medi Querie */
@media (max-width: 43.75em) {
   /* De 0 a 700px o Input e o button ocupa 100% do Form */
   .newsletter input {
      flex-basis: 100%;
      margin-bottom: 15px;
   }
   .newsletter button {
      flex-basis: 100%;
   }
   .newsletter input {
      margin-right: 0;
   }
}

/* ==== RODAPÉ HOTEL PARAÍSO ==== */
footer {
   display: flex;
   flex-direction: column;
   background-color: #191c03;
   padding: 50px 0;
   align-items: center;
}

footer ul {display: flex; margin-bottom: 10px;}
footer ul li {margin-right: 10px;}
footer ul li:last-child {margin-right: 0;}
footer ul li a {color: #c3c63b; font-size: 2rem;}
footer p {color: #c3c63b; font-size: 1.5em; text-align: center;}